<div class="register-page">
  <div class="form-container">
    <h2>Create Account ✨</h2>
    <p class="subtitle">Register a new account</p>

    <input type="text" placeholder="Full Name" [(ngModel)]="name">
    <input type="email" placeholder="Email address" [(ngModel)]="email">
    <input type="password" placeholder="Password" [(ngModel)]="password">

    <button (click)="register()">Register</button>

    <p class="msg">{{ message }}</p>

    <p class="register-text">
      Already have an account?
      <a routerLink="/login">Login here</a>
    </p>
  </div>
</div>
