.container {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-gradient {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;

}

.btn-gradient:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 154, 158, 0.4);
}
/* h1 {
  background: linear-gradient(45deg, #ff9a9e, #f7bfb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
} */
