<div class="container py-5">
  <div class="text-center mb-5">
        <h1 class="fw-bold text-capitalize mt-2">Welcome to Our Makeup Store 💄</h1>
        <p class="text-muted fs-5">Explore our top beauty picks powered by the Makeup API</p>
    </div>
  <h2 class="text-center fw-bold mb-5 text-pink">Our Categories</h2>

  <div class="row g-4 justify-content-center">
    <div
      class="col-6 col-md-4 col-lg-custom"
      *ngFor="let category of categories"
    >
      <div
        class="category-card text-center rounded-4 shadow-lg text-white"
        [style.background-image]="'url(' + category.image + ')'"
      >
        <div class="overlay rounded-4">
          <h5 class="fw-bold text-uppercase">
            <a
              [href]="category.url"
              class="text-white text-decoration-none"
              target="_blank"
            >
              {{ category.name }}
            </a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
